body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.image-list {
  display: flex; /* Sử dụng Flexbox để căn giữa các ảnh */
  justify-content: center; /* Căn giữa các ảnh theo chiều ngang */
  gap: 10px; /* Khoảng cách giữa các ảnh */
}

/* Định dạng cho từng ảnh trong danh sách */
.image-item {
  flex: 0 0 auto; /* Đảm bảo rằng các phần tử con không co dãn */
}

/* Định dạng cho ảnh */
.image {
  width: 100px; /* Độ rộng của ảnh */
  height: 100px; /* Độ cao của ảnh */
}
